aiofiles
aiohttp
apscheduler
bard
bing_image_downloader
deepai
dnspython
emojis
Faker
ffmpeg-python
future==0.18.3
git+https://github.com/AsmSafone/SafoneAPI
git+https://github.com/KurimuzonAkuma/kurigram/archive/dev.zip
git+https://github.com/TEAMPURVI/PurviAPI
gitpython
googlesearch-python
gpytranslate
gtts
hachoir
heroku3
httpx==0.28.1
lexica-api==1.5.1
motor
numpy
opencv-python
openai==0.28.0
pickledb
pillow==9.5.0
psutil
pycountry
pycryptodome
pyfiglet
pykeyboard
pyshorteners
python-dotenv
python-telegram-bot
python-whois
pydub
py-tgcalls==2.2.11
pyyaml==6.0.1
pytz
requests
search_engine_parser
SpeechRecognition
speedtest-cli
spotipy
sympy
telegraph
tgcrypto
unidecode
wget
youtube-search
youtube-search-python
py-yt-search
yt-dlp
